.home-container {
    background-color: #54c2ee; /* Color de fondo de la página */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    width: 100vw;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    
  }
  
  .content {
    text-align: center;
  }

  .logo-img {
   width: 200px;
   height:200px;
  }
  
  .content h1 {
    font-size: 36px;
    color: rgb(255, 255, 255); /* Color del texto */
    font-weight: bold;
  }
  
  